<h1>Places</h1>

<script>
  function toList() {
    window.location = '/articles_list';
  }
</script>

<a class="waves-effect waves-light btn" onclick="toList()">View Continuous Scroll</a> 

<div class="row">
  <% @articles.each do |article| %>
        <div class="col s3 m3 l3">
          <div class="card">
            <div class="card-image">
              <%= image_tag article.photo.url %>
              <span class="card-title"><%= article.title %></span>
            </div>
            <div class="card-action">
              <%= link_to 'Show', article_path(article) %>
              <%= link_to 'Edit', edit_article_path(article) %>
              <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
    <% end %>
</div>
<%= link_to 'Back to main menu', welcome_index_path, :class => "waves-effect waves-light btn" %>