<h1>Cities</h1>

<script>
  function funct() {
    document.getElementById("here").innerHTML="HI!";
  }
  
</script>
<a class="waves-effect waves-light btn" onclick="funct()">View as cards</a>
<a class="waves-effect waves-light btn">View as carousel</a>
 <div class="" id="wrapper">
   <ul class="" id="list-wrapper">
    <% @articles.each do |article| %>
    <hr>
      <li class="my-list-item">
        <h3><%= article.title %></h3>
        <%= image_tag article.photo.url, :class => 'materialboxed' %>
        <%= link_to 'Show', article_path(article), :class =>'btn btn-secondary'  %>
        <%= link_to 'Edit', edit_article_path(article), :class =>'btn btn-secondary' %>
        <%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' }, :class =>'btn btn-secondary' %>
      </li>
    <% end %>
    </ul>
  </div>
</table>
<a href="/welcome/index" onclick="otherFunct()">Back</a>
<div id="here"></div>
<%= link_to 'Back', welcome_index_path %>