<h3>Welcome!</h3>
      <p>This summer, I will be working at Apple. Since I'm from New Jersey, I want to know all the best places to visit; including landmarks, cities, restaurants, and more.</p>
      <p>Make a new post if you have any ideas of cities I should visit. Or, if you know of a cool place to go in a city that's posted, add it in a recommendation for that city!</p>

<h3>Log in</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
